<template name="landingPage">

  <h1>Join Room:</h1>
  <form class="room-form" name="room-form">
    <label for="room-id-field">Room Id</label>
    <input type="text" name="room-id-field"/>
    <input type="submit"/>
  </form>


  <h1>Create Room:</h1>
  <form class="create-room-form" name="create-room-form">
    <label for="room-name-field">Room Name:</label>
    <input type="text" class="room-name-field" name="room-name-field"/>
    <label for="room-username-field">Your Name:</label>
    <input type="text" class="room-username-field" name="room-name-field"/>
    <input type="submit"/>
  </form>
</template>
