@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
	font-family: 'Lato';
	background-color: #f0f0f0;
	margin: 0px auto;
}

*{
	box-sizing: border-box;
}

#overlay {
	/*position: absolute;*/
	top: 0px;
	left: 0px;
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/

	width : 50vw;
	height : 37.5vw;
}

#videoel {
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/

	width : 600px;
	height : 450px;
	display: none;
}

#webcam-content {
	float: left;
}

.user-canvas{
	width : 50vw;
	height : 37.5vw;
	float: right;
}
